#chatMessage {
  background-color: var(--offgrey);
  height: 76vh !important;
  margin-bottom: 1vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#chatUserNames {
  background-color: var(--offgrey);
}
#sendFile {
  cursor: pointer;
}
input:hover {
  border-color: var(--black);
}

.navbar {
  border-bottom: 1px solid var(--offgrey);
  background-color: var(--white);
  color: var(--black);
  z-index: 1px;
}
.navListItem {
  cursor: pointer;
  font-weight: 600 !important;
  font-size: 1.1em;
  padding: 10px;
}
.navListItem:hover {
  background-color: var(--offgrey);
  color: var(--black);
  border-radius: 20px;
}

.receiver {
  background-color: var(--dkgrey);
  color: var(--black);
}
.sendbutton {
  background-color: var(--black);
  color: var(--white) !important;
}
.chatuserimg {
  height: 26px;
  width: 26px;
  border-radius: 13px;
}
.chatusername {
  font-weight: 600;
}
.chatusernamelistitem {
  background-color: var(--white);
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

#chatMessage::-webkit-scrollbar {
  display: none;
}

#chatUserNamesList li:hover {
  background-color: var(--dkgrey);
}
img {
  cursor: pointer;
}

#allGroupMembersList {
  border-left: 1px solid var(--offgrey) !important;
  border-right: 1px solid var(--offgrey) !important;
  width: auto;
  margin-top: 7px;
}

.fas {
  color: var(--black);
}

#searchedUserList {
  background-color: var(--white);
  width: 15% !important;
}

.dropdown-menu[data-bs-popper] {
  right: 0;
  left: auto;
}
