#chatMessage {
  background-color: var(--offgrey);
  height: 76vh !important;
  margin-bottom: 1vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* background-image: url("../../common/img/_9675db9c-2133-4bdd-bfba-70b3120ef755.jpg"); */
  /* background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;  */
}
#noOfFriendRequest {
  right: 10px;
  bottom: 5px;
}

#chatUserNames {
  background-color: var(--offgrey);
  height: 85vh !important;
  margin-bottom: 1vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#sendFile {
  cursor: pointer;
}
input:hover {
  border-color: var(--black);
}

.navbar {
  border-bottom: 1px solid var(--offgrey);
  background-color: var(--white);
  color: var(--black);
  z-index: 1px;
}
.navListItem {
  cursor: pointer;
  font-weight: 600 !important;
  font-size: 1.1em;
  padding: 10px;
}
.navListItem:hover {
  background-color: var(--offgrey);
  color: var(--black);
  border-radius: 20px;
}

.receiver {
  background-color: var(--dkgrey) !important;
  color: var(--black) !important;
  overflow-wrap: anywhere;
}
.sender {
  background-color: var(--grey) !important;
  overflow-wrap: anywhere;
  color: var(--black) !important;
}
.sendbutton {
  background-color: var(--black);
  color: var(--white) !important;
}
.chatuserimg {
  height: 26px;
  width: 26px;
  border-radius: 13px;
}
.chatusername {
  font-weight: 600;
}
.chatusernamelistitem {
  background-color: var(--white);
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

#chatMessage::-webkit-scrollbar,
#chatUserNames::-webkit-scrollbar {
  display: none;
}

#chatUserNamesList li:hover {
  background-color: var(--dkgrey);
}
#chatUserNamesList {
  background-color: inherit;
}
img {
  cursor: pointer;
}

#allGroupMembersList {
  border-left: 1px solid var(--offgrey) !important;
  border-right: 1px solid var(--offgrey) !important;
  width: auto;
  margin-top: 7px;
}

.fas {
  color: var(--black);
}

#searchedUserList {
  background-color: var(--white);
  width: 15% !important;
}

.dropdown-menu[data-bs-popper] {
  right: 0;
  left: auto;
}
.document-pos-relative {
  bottom: 40px !important;
  left: 180px !important;
}
.font-dark {
  font-weight: 500;
}

#chatMessageList {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: inherit;
}

body {
  transition: background-color 0.5s ease;
}

/* bg-light */
nav {
  background-color: var(--white) !important;
  color: var(--black);
}
input {
  background-color: var(--white) !important;
  color: var(--black) !important;
}
/* i {
  color: var(--black) !important;
} */
body {
  background-color: var(--white) !important;
  color: var(--black);
}
ul {
  background-color: var(--white);
  color: var(--black);
}

.custom-toggler.navbar-toggler-icon {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 2px;
  background-color: var(--black);
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.custom-toggler.navbar-toggler-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--black);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.custom-toggler.navbar-toggler-icon span:nth-child(1) {
  top: -8px;
}

.custom-toggler.navbar-toggler-icon span:nth-child(2) {
  top: 0px;
}

.custom-toggler.navbar-toggler-icon span:nth-child(3) {
  top: 8px;
}
