@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --black: #1f1717;
  --offgrey: rgba(217, 217, 219, 0.673);
  --shadow: rgba(9, 9, 47, 0.673);
  --dkgrey: #cacaca;
  --grey: #F0EFED;
  --white: #f7f8fa;
  --font-size: 1.1rem;
  --mono: "Oxygen mono", monospace;
  --sans: "Montserrat", sans-serif;
}

body.dark-mode {
  --black: #f7f8fa;
  --offgrey: rgba(38, 38, 36, 0.673);
  --shadow: rgba(246, 246, 208, 0.673);
  --dkgrey: #353535;
  --grey: #070707;
  --white: #1f1717;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
  color: var(--black);
}

a {
  text-decoration: none !important;
  margin: 0;
}

p,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a:hover {
  color: rgba(9, 9, 47, 0.673) !important;
}

.cursor-pointer {
  cursor: pointer;
}
