home {
  color: #1f1717;
}
#chatMessage {
  height: 77vh !important;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-bottom: 1vh;
  background-color: rgba(217, 217, 219, 0.673);
}

#chatUserNames {
  background-color: rgba(217, 217, 219, 0.673);
}
#sendFile {
  cursor: pointer;
}
input:hover {
  border-color: #1f1717;
}

.navbar {
  border-bottom: 1px solid rgba(217, 217, 219, 0.673);
  z-index: 1px;
  background-color: #f9f9f9;
  color: #1f1717;
}
.navListItem {
  cursor: pointer;
  font-weight: 600 !important;
  font-size: 1.1em;
  padding: 10px;
}
.navListItem:hover {
  border-radius: 20px;
  background-color: rgba(217, 217, 219, 0.673);
  color: #1f1717;
}

.receiver {
  background-color: #cacaca;
  color: #1f1717;
}
.sendbutton {
  background-color: #1f1717;
  color: #fff !important;
}
.chatuserimg {
  height: 26px;
  width: 26px;
  border-radius: 13px;
}
.chatusername {
  font-weight: 600;
}
.chatusernamelistitem {
  background-color: #f8f9fa;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

#chatMessage::-webkit-scrollbar {
  display: none;
}

#chatUserNamesList li:hover {
  background-color: #cacaca;
}
img {
  cursor: pointer;
}
