<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../common/css/index.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/home.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-collapse">
      <div class="container-fluid px-3">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img
            src="../../common/img/logo.png"
            alt="chatty"
            width="50"
            height="50"
            class="opacity-100"
          />
        </a>
        <ul class="d-flex align-items-center gap-4">
          <li
            class="nav-item navListItem"
            id="createNewGroup"
            data-toggle="modal"
            data-target="#createGroupModal"
          >
            Create Group
          </li>
          <li class="nav-item navListItem" id="logout">Logout</li>
        </ul>
      </div>
    </nav>
    <main
      class="d-flex flex-row gap-2 w-100 justify-content-between px-3 overflow-hidden px-5"
    >
      <div class="col-12 col-md-2 overflow-auto" id="chatUserNames">
        <ul
          class="p-0 m-1 d-flex justify-content-center flex-column gap-1"
          id="chatUserNamesList"
        >
          <!-- <li class="d-flex gap-3 p-2 chatusernamelistitem">
            <img
              alt="img"
              src="https://picsum.photos/200/300"
              class="chatuserimg"
            />
            <h3 class="chatusername">raj</h3>
          </li> -->
        </ul>
      </div>

      <div class="col-12 col-md-10 d-none d-md-block" id="chatScreen">
        <!-- Messages -->
        <div class="flex-grow-1 px-2" id="chatMessage">
          <button
            type="button"
            class="btn border border-dark offset-5"
            id="loadOldMessages"
            title="fetch old messages"
            hidden
          >
            old messages
          </button>
          <ul class="p-0 overflow-auto" id="chatMessageList"></ul>
          <!-- Your messages go here -->
        </div>

        <!-- Message input box and button -->
        <div class="mt-auto">
          <div class="form-group" id="sendMsg">
            <form id="sendMsgForm">
              <div class="input-group gap-2">
                <input
                  type="text"
                  class="form-control"
                  id="message"
                  placeholder="Enter your message"
                />
                <div id="sendFile" title="sendFile">
                  <input type="file" id="fileInput" style="display: none" />
                  <img
                    src="../../common/img/folder.png"
                    alt="chatty"
                    width="40"
                    height="40"
                    id="imageToSend"
                  />
                </div>
                <div class="input-group-append" id="chatButton">
                  <button class="btn sendbutton" type="submit">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="createGroupModal" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="createGroupModalLongTitle">
              Create Group
            </h2>
            <button
              type="button"
              class="close border-0 bg-white"
              id="closeModel"
            >
              <span aria-hidden="true">❌</span>
            </button>
          </div>
          <!-- Form -->
          <form id="groupModalForm">
            <div class="modal-body">
              <div class="form-group">
                <label for="groupname">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="groupname"
                  placeholder="Enter name"
                />
              </div>
              <div class="form-group">
                <label for="groupdescr">Description</label>
                <textarea
                  class="form-control"
                  id="groupdesc"
                  rows="3"
                ></textarea>
              </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn sendbutton">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/home.js"></script>
  </body>
</html>
